USE [Demo]
GO
/****** Object:  Table [casestudy].[mv_o1_cdump]    Script Date: 22-11-2021 12.07.54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [casestudy].[mv_o1_cdump](
	[type] [varchar](8000) NULL,
	[latest_revision] [int] NULL,
	[revision] [int] NULL,
	[last_modified] [varchar](100) NULL,
	[key] [varchar](8000) NULL,
	[oclc_number] [nvarchar](max) NULL,
	[created] [varchar](100) NULL,
	[title] [varchar](1000) NULL,
	[title_prefix] [varchar](100) NULL,
	[subtitle] [varchar](100) NULL,
	[other_titles] [nvarchar](max) NULL,
	[authors] [nvarchar](max) NULL,
	[by_statement] [varchar](100) NULL,
	[publish_date] [varchar](100) NULL,
	[copyright_date] [varchar](100) NULL,
	[edition_name] [varchar](100) NULL,
	[languages] [nvarchar](max) NULL,
	[description] [varchar](max) NULL,
	[notes] [varchar](max) NULL,
	[genres] [nvarchar](max) NULL,
	[table_of_contents] [nvarchar](max) NULL,
	[work_titles] [nvarchar](max) NULL,
	[series] [nvarchar](max) NULL,
	[physical_dimensions] [varchar](100) NULL,
	[physical_format] [varchar](100) NULL,
	[number_of_pages] [int] NULL,
	[subjects] [nvarchar](max) NULL,
	[pagination] [varchar](100) NULL,
	[lccn] [nvarchar](max) NULL,
	[ocaid] [varchar](100) NULL,
	[oclc_numbers] [nvarchar](max) NULL,
	[isbn_10] [nvarchar](max) NULL,
	[isbn_13] [nvarchar](max) NULL,
	[dewey_decimal_class] [nvarchar](max) NULL,
	[lc_classifications] [nvarchar](max) NULL,
	[contributions] [nvarchar](max) NULL,
	[publish_places] [nvarchar](max) NULL,
	[publish_country] [varchar](100) NULL,
	[publishers] [nvarchar](max) NULL,
	[distributors] [nvarchar](max) NULL,
	[first_sentence] [varchar](max) NULL,
	[weight] [varchar](100) NULL,
	[location] [nvarchar](max) NULL,
	[scan_on_demand] [int] NULL,
	[collections] [nvarchar](max) NULL,
	[uris] [nvarchar](max) NULL,
	[uri_descriptions] [nvarchar](max) NULL,
	[translation_of] [varchar](8000) NULL,
	[works] [nvarchar](max) NULL,
	[source_records] [nvarchar](max) NULL,
	[translated_from] [nvarchar](max) NULL,
	[scan_records] [nvarchar](max) NULL,
	[volumes] [nvarchar](max) NULL,
	[accompanying_material] [varchar](100) NULL,
	[name] [varchar](100) NULL,
	[eastern_order] [int] NULL,
	[personal_name] [varchar](100) NULL,
	[enumeration] [varchar](100) NULL,
	[alternate_names] [nvarchar](max) NULL,
	[bio] [varchar](max) NULL,
	[birth_date] [varchar](100) NULL,
	[death_date] [varchar](100) NULL,
	[date] [varchar](100) NULL,
	[wikipedia] [varchar](100) NULL,
	[links] [nvarchar](max) NULL,
	[translated_titles] [nvarchar](max) NULL,
	[subject_places] [nvarchar](max) NULL,
	[subject_times] [nvarchar](max) NULL,
	[subject_people] [nvarchar](max) NULL,
	[dewey_number] [nvarchar](max) NULL,
	[original_languages] [nvarchar](max) NULL,
	[first_publish_date] [varchar](100) NULL,
	[cover_edition] [varchar](max) NULL,
	[covers] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
